In [1]:
#Import Dependencies

import pandas as pd
import gmaps
import requests
%matplotlib inline
#Import API key

from config import g_key

In [2]:
#Store the CSV you created in part one into a dataframe

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2022-04-19 22:50:59,77.4840,-69.3632,-3.91,81,99,5.44
1,1,Lavrentiya,RU,2022-04-19 22:55:09,65.5833,-171.0000,29.93,73,3,5.17
2,2,Guerrero Negro,MX,2022-04-19 22:52:21,27.9769,-114.0611,68.45,62,93,20.67
3,3,Mount Gambier,AU,2022-04-19 22:55:09,-37.8333,140.7667,55.31,94,40,6.91
4,4,Ngunguru,NZ,2022-04-19 22:55:10,-35.6167,174.5000,67.91,94,63,15.97

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key

gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Bambous Virieux,MU,2022-04-19 22:55:10,-20.3428,57.7575,79.21,94,40,6.91
15,15,Boca Do Acre,BR,2022-04-19 22:51:15,-8.7522,-67.3978,75.02,94,77,1.23
17,17,Rikitea,PF,2022-04-19 22:55:14,-23.1203,-134.9692,77.76,75,45,16.49
23,23,Vaini,TO,2022-04-19 22:55:16,-21.2000,-175.2000,77.16,94,75,10.36
27,27,Saint-Philippe,RE,2022-04-19 22:55:17,-21.3585,55.7679,78.39,81,57,3.87
28,28,Port Hedland,AU,2022-04-19 22:55:17,-20.3167,118.5667,77.05,44,12,8.05
36,36,Calamar,CO,2022-04-19 22:55:19,10.2511,-74.9146,82.56,68,100,5.88
40,40,Harper,LR,2022-04-19 22:55:20,4.3750,-7.7169,80.13,83,85,6.11
41,41,Mahebourg,MU,2022-04-19 22:55:20,-20.4081,57.7000,79.25,94,40,6.91
43,43,Kapaa,US,2022-04-19 22:52:11,22.0752,-159.3190,77.47,74,40,20.71

In [11]:
preferred_cities_df.count()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [12]:
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5   Bambous Virieux      MU     79.21 -20.3428   57.7575
15     Boca Do Acre      BR     75.02  -8.7522  -67.3978
17          Rikitea      PF     77.76 -23.1203 -134.9692
23            Vaini      TO     77.16 -21.2000 -175.2000
27   Saint-Philippe      RE     78.39 -21.3585   55.7679
28     Port Hedland      AU     77.05 -20.3167  118.5667
36          Calamar      CO     82.56  10.2511  -74.9146
40           Harper      LR     80.13   4.3750   -7.7169
41        Mahebourg      MU     79.25 -20.4081   57.7000
43            Kapaa      US     77.47  22.0752 -159.3190

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Bambous Virieux,MU,79.21,-20.3428,57.7575,Casa Tia Villa
15,Boca Do Acre,BR,75.02,-8.7522,-67.3978,Hotel Sao Pedro
17,Rikitea,PF,77.76,-23.1203,-134.9692,People ThankYou
23,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
27,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
28,Port Hedland,AU,77.05,-20.3167,118.5667,The Esplanade Hotel
36,Calamar,CO,82.56,10.2511,-74.9146,Hostal Katyalex
40,Harper,LR,80.13,4.3750,-7.7169,Screensaver
41,Mahebourg,MU,79.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
43,Kapaa,US,77.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [45]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))